{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mb-2">
    <!-- Title of the page-->
    <div class="row">
        <div class="col text-center mt-lg-5 mt-md-2">
            <h2 class="custom-font">About Us</h2>
            <hr class="w-50 mb-3 mb-md-5 mx-auto">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="h3 custom-font mb-4">Our Mission</div>
            <p>Our Mission is to advertise and sell exclusive sneakers to all members of the public. 
                The unique market for individuals who have a taste in fashion. Owning one of a kind, limited edition,
                rare pair of sneakers will turn heads and having other individuals admiring your footwear. Giving users 
                the different options of sneakers and sizes as well as being able to search for them to 
                select from depending on availability.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="h3 d-flex justify-content-end custom-font my-4">Our History</div>
            <p>Started following the trend for the new Jordans whenever they came out and having an addiction 
                to Nike footwear, I found myself owning shoes that have no been worn. After being asked multiple 
                times where have I purchased the pair of sneakers from, I was told they don't sell them anymore.
                3 years later, I have been buying unique footwear and setting up an e-commerce site to allow 
                other individuals to enjoy the unique style of the sneakers.
            </p>
        </div>
    </div>
        <div class="row mx-auto">
            <div class="col-12 offset-lg-6 col-lg-6">
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}
    {% block afterloadjs %}

    <script
    src="https://maps.googleapis.com/maps/api/js?key={{ gmaps_api }}&callback=initMap&libraries=&v=weekly"
    async
  ></script>

    {% endblock %}