{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mb-2">
    <!-- Title of the page-->
    <div class="row">
        <div class="col text-center mt-lg-5 mt-md-2">
            <h2 class="custom-font mt-lg-4 mt-md-2">About Us</h2>
            <hr class="w-50 mb-3 mb-md-5 mx-auto">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="h3 custom-font mb-4">Our Mission</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Our Mission is to advertise and sell exclusive sneakers to all members of the public. 
                The unique market for individuals who have a taste in fashion. Owning one of a kind, limited edition,
                rare pair of sneakers will turn heads and having other individuals admiring your footwear. Giving users 
                the different options of sneakers and sizes as well as being able to search for them to 
                select from depending on availability.</p>
        </div>
    </div>
    <hr class="d-md-none">
    <div class="row">
        <div class="col-12">
            <div class="h3 d-flex justify-content-end custom-font my-4">Our History</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Started following the trend for the new Jordans whenever they came out and having an addiction 
                to Nike footwear, I found myself owning shoes that have no been worn. After being asked multiple 
                times where have I purchased the pair of sneakers from, I was told they don't sell them anymore.
                3 years later, I have been buying unique footwear and setting up an e-commerce site to allow 
                other individuals to enjoy the unique style of the sneakers.
            </p>
        </div>
    </div>
    <hr class="d-md-none">
    <div class="row">
        <div class="col-12">
            <div class="h3 text-center custom-font my-4">About Us</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-4">
            <!-- Image taken from https://unsplash.com/photos/xLUwi3yDNb0 -->
            <img class="img-thumbnail" src="{{ MEDIA_URL }}guys.jpeg" alt="Italian Trulli">
        </div>
        <div class="col-12 col-lg-8 mt-3">
            <p>3 British friends who grew up together enjoying watching sports, especially basketball and American football.
                Taking an interest in American footwear and introducing it to our everyday outfits became an obsession.
                We started buying and collecting, eventually realising the interest from others opened up our eyes to a 
                gap in the market. We decided to open a shop in Manchester so people have a place to see our different collections.
                After 2 years of being successful, we started growing our horizon. Here we are today providing 
                unique footwear across the country to anyone who has the same taste as us.
            </p>
        </div>
    </div>

    <hr class="my-3">
    <div class="row mx-auto">
        <div class="col-12">
            <div class="h3 d-flex justify-content-center custom-font my-4">Where Are We?</div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="text-center align-content-center flex-wrap col-12 col-md-3">
            <p>3-5 Portland Street</p>
            <p class="mt-4">Manchester</p>
            <p class="mt-4">M1 6DP</p>
            <p class="mt-4">England</p>
        </div>
        <div class="col-12 col-md-9">
            <div id="map"></div>
        </div>
    </div>
</div>
    {% endblock %}
    {% block afterloadjs %}

    <script
    src="https://maps.googleapis.com/maps/api/js?key={{ gmaps_api }}&callback=initMap&libraries=&v=weekly"
    async
  ></script>

    {% endblock %}