{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container mb-2">
    <!-- Title of the page-->
    <div class="row">
        <div class="col text-center mt-lg-5 mt-md-2">
            <h2 class="custom-font mt-lg-4 mt-md-2">Contact Us</h2>
            <hr class="w-50 mb-3 mb-md-5 mx-auto">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form method="post" action="{% url 'send_email' %}">
                {% csrf_token %}
                {% if request.user.is_authenticated %}
                <!-- Username placeholder-->
                <div class="col-12 col-md-8 offset-md-2 mb-3">
                    <input type="text" class="form-control rounded-0" id="cusername" name="cusername" placeholder="Full Name"
                        value="{% if request.user.is_authenticated %}{{ user }}{% endif %}" required>
                </div>
                {% endif %}
                <!-- Full name placeholder -->
                <div class="col-12 col-md-8 offset-md-2 mb-3">
                    <input type="text" class="form-control rounded-0" id="cfullname" name="cfullname" placeholder="Full Name"
                        value="{% if request.user.is_authenticated %}{{ user.first_name }} {{ user.last_name }}{% endif %}" required>
                </div>

                <!-- Email address placeholder -->
                <div class="col-12 col-md-8 offset-md-2 mb-3">
                    <input type="email" class="form-control rounded-0" id="cemail" name="cemail" placeholder="Email Address"
                        value="{% if request.user.is_authenticated %}{{ user.email }}{% endif %}" required>
                </div>
                <!-- Phone number placeholder -->
                <div class="col-12 col-md-8 offset-md-2 mb-3">
                    <input type="number" class="form-control rounded-0" id="contactus-phone" name="contactus-phone" placeholder="Phone Number"
                        value="{% if request.user.is_authenticated %}{{ user.phone_number }}{% endif %}">
                </div>
                <!-- Subject placeholder -->
                <div class="col-12 col-md-8 offset-md-2 mb-3">
                    <select class="form-select rounded-0" name="csubject" id="csubject" required>
                        <option selected>Subject/Topic</option>
                        <option value="deliveries">Deliveries</option>
                        <option value="returns">Returns</option>
                        <option value="payment">Payment</option>
                        <option value="privacy">Privacy</option>
                        <option value="product">Product</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <!-- Message placeholder -->
                <div class="col-12 col-md-8 offset-md-2 mb-3">
                    <textarea class="form-control rounded-0" id="cmessage" name="cmessage" placeholder="Message" rows="5"
                        required></textarea>
                </div>
                <!-- Form buttons -->
                <div class="row">
                    <div class="col-12 text-center">
                        <a href="{% url 'home' %}" class="btn btn-dark custom-bg rounded-0 px-4 px-lg-5">Back</a>
                        <button type="reset" class="btn btn-outline-dark rounded-0 px-4 px-lg-5">Clear</button>
                        <button type="submit" class="btn btn-dark custom-bg rounded-0 px-4 px-lg-5">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    {% endblock %}