{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mb-2">
    <!-- Title of the page-->
    <div class="row">
        <div class="col text-center mt-lg-5 mt-md-2">
            <h2 class="custom-font mt-lg-4 mt-md-2">Contact Us</h2>
            <hr class="w-50 mb-3 mb-md-5 mx-auto">
        </div>
    </div>
    <div class="row">
        <div class="col-12">

        </div>
    </div>
</div>

    {% endblock %}