{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block other_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <!-- Title of the page-->
    <div class="row">
        <div class="col text-center mt-lg-5 mt-md-2">
            <h2 class="logo-font">My Profile</h2>
            <hr class="w-50 mb-3 mb-md-5 mx-auto">
        </div>
    </div>
{% endblock %}

{% block afterloadjs %}
    {{ block.super }}
    <!-- template filters called json_script as it is not possible to render Django template variables in external js files -->
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}