{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <!-- Title of the page -->
    <div class="row offset-md-2 col-md-8">
        <div class="col text-center mt-lg-5 mt-md-2">
            <h2 class="custom-font mt-lg-4 mt-md-2">Add Testimonial</h2>
            <hr class="w-50 mb-3 mb-md-5 mx-auto">
            <h4 class="mb-4">Please leave a testimonial from your experience that you 
                have previously had. Please leave a subject, message and a rating up 5 from your
                experience.
            </h4>

        </div>
    </div>

    <div class="row offset-md-2 col-md-8">
        <div class="col-12">
            <!-- To render the form that will be filled out to add a testimonial -->
            <form method="POST" action="{% url 'add_testimonial' %}" class="form mb-2">
                {% csrf_token %}
                {{ form.title|as_crispy_field }}
                {{ form.message|as_crispy_field }}
                {{ form.rating|as_crispy_field }}
                <!-- Buttons to go back to the products page and to add a product -->
                <div class="text-right">
                    <a class="btn btn-outline-black rounded-0 col-12 col-md-5 mb-3" href="{% url 'testimonials' %}">Back To Testimonials</a>
                    <button class="btn btn-grey rounded-0 col-12 col-md-5 mb-3" type="submit">Add Testimonial</button>
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}

{% block afterloadjs %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function () {
        $("#id_rating").attr({"max" : 5, "min" : 1});
    });
</script>
{% endblock %}
