{% extends "base.html" %}
{% load static %}

{% block other_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <!-- Title of the page-->
    <div class="row g-0">
        <div class="col-12 text-center mt-lg-2 mt-md-2">
            <h2 class="title mt-lg-4 mt-md-2 mt-3">Testimonials</h2>
            <hr class="w-50 mb-3 mb-md-5 mx-auto">
        </div>

        <div class="row g-0">
            <div class="col-12 mx-auto">
                <!-- Write a testimonial button -->
                <div class="col-12 text-center my-3">
                    <a class="btn btn-grey rounded-0" href="{% url 'add_testimonial' %}">Write a Testimonial</a>
                </div>
            </div>
            <div class="row g-0">
                <div class="sort-select-wrapper my-auto d-flex justify-content-lg-end justify-content-center">
                    <!-- Setting the sort selector for the user to be able to choose the order they would like to see -->
                    <select id="sort-selector"
                        class="custom-select custom-select-sm rounded-0 border border-{% if sorting_testimonials != 'None_None' %}info{% else %}black{% endif %} w-25 w-auto">
                        <option value="reset" {% if sorting_testimonials == 'None_None' %}selected{% endif %}>Sort by...
                        </option>
                        <option value="rating_asc" 
                        {% if sorting_testimonials == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                        <option value="rating_desc" 
                        {% if sorting_testimonials == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                        <option value="date_asc" 
                        {% if sorting_testimonials == 'date_asc' %}selected{% endif %}>Date (New to Old)</option>
                        <option value="date_desc" 
                        {% if sorting_testimonials == 'date_desc' %}selected{% endif %}>Date (Old to New)</option>
                        <option value="title_asc" 
                        {% if sorting_testimonials == 'title_asc' %}selected{% endif %}>Title (A-Z)</option>
                        <option value="title_desc"
                        {% if sorting_testimonials == 'title_desc' %}selected{% endif %}>Title (Z-A)</option>
                    </select>
                </div>
            </div>
                <div class="row g-0">
                    <div class="product-container col-12 col-md-12 order-md">
                    <!-- Loop to go through the testimonials in a side ways card view -->
                    {% for testimonial in testimonials %}
                        <div class="card mt-3">
                            <div class="row g-0">
                                <div class="card-header text-center border col-md-4">
                                    <div class="row">
                                        <div class="col-12">
                                            {{ testimonial.user }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <!-- Stars from font awesome which would be associated with the rating user provided -->
                                            {% if testimonial.rating == 5 %}
                                                <i class="fas fa-star mr-1"></i>
                                                <i class="fas fa-star mr-1"></i>
                                                <i class="fas fa-star mr-1"></i>
                                                <i class="fas fa-star mr-1"></i>
                                                <i class="fas fa-star mr-1"></i> {{ testimonial.rating }} / 5
                                            {% elif testimonial.rating == 4 %}
                                                <i class="fas fa-star mr-1"></i>
                                                <i class="fas fa-star mr-1"></i>
                                                <i class="fas fa-star mr-1"></i>
                                                <i class="fas fa-star mr-1"></i> {{ testimonial.rating }} / 5
                                            {% elif testimonial.rating == 3 %}
                                                <i class="fas fa-star mr-1"></i>
                                                <i class="fas fa-star mr-1"></i>
                                                <i class="fas fa-star mr-1"></i> {{ testimonial.rating }} / 5
                                            {% elif testimonial.rating == 2 %}
                                                <i class="fas fa-star mr-1"></i>
                                                <i class="fas fa-star mr-1"></i> {{ testimonial.rating }} / 5
                                            {% elif testimonial.rating == 1 %}
                                                <i class="fas fa-star mr-1"></i> {{ testimonial.rating }} / 5
                                            {% else %}
                                                <small class="text-muted">No Rating</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="card-text"><small class="text-muted">
                                                Posted on: {{ testimonial.date }}
                                            </small></p>
                                        </div>
                                    </div>
                                    <!-- The user has the power to edit/delete their own testimonials -->
                                    {% if user == testimonial.user or admin %}
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="card-text">
                                                <small class="text-muted">
                                                <a href="{% url 'edit_testimonial' testimonial.id %}">Edit</a> |
                                                <a class="text-danger" href="{% url 'delete_testimonial' testimonial.id %}">Delete</a>
                                            </small></p>
                                        </div>
                                    </div>
                                    {% endif %}
                                        
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title test-title">{{ testimonial.title }}</h5>
                                            <p class="card-text text-muted test-message">"{{ testimonial.message }}"</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}        
                        </div>
                        <div class="row">
                            <div class="col-6 offset-md-5 offset-4 my-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>                            
    </div>
{% endblock %}

{% block afterloadjs %}
    <script type="text/javascript">
        /* once capturing the change event from the source selector
    two variables set, one for the selector and the other for a new url for the object 
    which takes the window location */
        $('#sort-selector').change(function () {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            /* get the value from the selector box and the breaking them out 
            into sort and direction*/
            var selectedVal = selector.val();
            if (selectedVal != "reset") {
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                /* change the get parameters to the method calls */
                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                /* change the current location to the updated URL  */
                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}