{% extends "base.html" %}
{% load static %}

{% block other_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2 mt-lg-4 mt-md-2">
    <!-- Title of the page-->
    <div class="row">
        <div class="col text-center mt-lg-5 mt-md-2">
            <h2 class="custom-font">Thank you</h2>
            <hr class="w-50 mb-3 mb-md-5 mx-auto">
            <p class="text-black mb-5">Your order information is below. A confirmation email will be sent to
                <strong>{{ order.email }}</strong>.
            </p>
        </div>

        <div class="row">
            <div class="col-12 col-lg-8 mx-auto">
                <!-- Order information -->
                <div class="order-confirmation-wrapper p-2 border border-2 rounded-3 mb-4">
                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Order Info:</small>
                        </div>
                    </div>

                    <!-- Placement for the order number -->
                    <div class="row">
                        <div class="col-12 col-md-5 col-sm-2">
                            <p class="mb-0 text-black font-weight-bold">Order Number</p>
                        </div>
                        <div class="col-12 col-md-7 text-md-right">
                            <p class="mb-0 text-truncate">{{ order.order_number }}</p>
                        </div>
                    </div>

                    <!-- Placement for the purchase date -->
                    <div class="row">
                        <div class="col-12 col-md-5">
                            <p class="mb-0 text-black font-weight-bold">Order Date</p>
                        </div>
                        <div class="col-12 col-md-7 text-md-right">
                            <p class="mb-0">{{ order.purchase_date }}</p>
                        </div>
                    </div>
                </div>

                <!-- Placement for the Order Details -->
                <div class="order-confirmation-wrapper p-2 border border-2 rounded-3 mb-4">
                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Order Details:</small>
                        </div>
                    </div>

                    {% for item in order.lineitems.all %}
                    <div class="row">
                        <div class="col-4 col-md-2 mb-2">
                            {% if item.product.image %}
                            <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                            {% else %}
                            <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                            {% endif %}
                        </div>
                        <div class="col-7 col-md-5">
                            <p class="small mb-0 text-black font-weight-bold"></p>
                                {{ item.product.name }}
                                {% if item.product.size %}
                                <div class="row">
                                    <div class="col-7 col-md-5">
                                        Size {{ item.product.size|upper }}
                                    </div>
                                </div>
                                {% endif %}
                        </div>
                        <div class="col-12 col-md-4 text-md-right mb-3">
                            <p class="small mb-0">Quantity: {{ item.quantity }} @ £{{ item.product.price }} each</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <!-- Placement for the Delivery information including details of the user -->
                <div class="order-confirmation-wrapper p-2 border border-2 rounded-3 mb-4">
                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Delivering To:</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-5">
                            <p class="mb-0 text-black font-weight-bold">Full Name</p>
                        </div>
                        <div class="col-12 col-md-7 text-md-right">
                            <p class="mb-0">{{ order.full_name }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-5">
                            <p class="mb-0 text-black font-weight-bold">Address 1</p>
                        </div>
                        <div class="col-12 col-md-7 text-md-right">
                            <p class="mb-0">{{ order.address_line1 }}</p>
                        </div>
                    </div>

                    {% if order.address_line2 %}
                    <div class="row">
                        <div class="col-12 col-md-5">
                            <p class="mb-0 text-black font-weight-bold">Address 2</p>
                        </div>
                        <div class="col-12 col-md-7 text-md-right">
                            <p class="mb-0">{{ order.address_line2 }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-md-5">
                            <p class="mb-0 text-black font-weight-bold">Town or City</p>
                        </div>
                        <div class="col-12 col-md-7 text-md-right">
                            <p class="mb-0 text-sm-small">{{ order.town_or_city }}</p>
                        </div>
                    </div>

                    {% if order.county_state %}
                    <div class="row">
                        <div class="col-12 col-md-5">
                            <p class="mb-0 text-black font-weight-bold">County / State</p>
                        </div>
                        <div class="col-12 col-md-7 text-md-right">
                            <p class="mb-0">{{ order.county_state }}</p>
                        </div>
                    </div>
                    {% endif %}

                    {% if order.postcode %}
                    <div class="row">
                        <div class="col-12 col-md-5">
                            <p class="mb-0 text-black font-weight-bold">Postal Code</p>
                        </div>
                        <div class="col-12 col-md-7 text-md-right">
                            <p class="mb-0">{{ order.postcode }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-md-5">
                            <p class="mb-0 text-black font-weight-bold">Country</p>
                        </div>
                        <div class="col-12 col-md-7 text-md-right">
                            <p class="mb-0">{{ order.country }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-5">
                            <p class="mb-0 text-black font-weight-bold">Phone Number</p>
                        </div>
                        <div class="col-12 col-md-7 text-md-right">
                            <p class="mb-0">{{ order.phone_number }}</p>
                        </div>
                    </div>
                </div>

                <div class="order-confirmation-wrapper p-2 border border-2 rounded-3 mb-4">
                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Billing Info:</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-5">
                            <p class="mb-0 text-black font-weight-bold">Order Total</p>
                        </div>
                        <div class="col-12 col-md-7 text-md-right">
                            <p class="mb-0">{{ order.order_total }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-5">
                            <p class="mb-0 text-black font-weight-bold">Delivery</p>
                        </div>
                        <div class="col-12 col-md-7 text-md-right">
                            <p class="mb-0">{{ order.delivery_cost }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-5">
                            <p class="mb-0 text-black font-weight-bold">Grand Total</p>
                        </div>
                        <div class="col-12 col-md-7 text-md-right">
                            <p class="mb-0">{{ order.grand_price }}</p>
                        </div>
                    </div>
                </div>
            
                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg my-2 col-12 col-md-5">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Back to Shop</span>
                </a>

                <div class="row">
                    <div class="col-12 text-right">
                        <!-- if the user came from the profile page, allows them to go back to the profile page or home page -->
                        {% if from_profile %}
                            <a href="{% url 'profile' %}" class="btn btn-outline-black rounded-0 btn-lg my-2 col-12 col-md-5">
                                <span class="icon">
                                    <i class="fas fa-angle-left"></i>
                                </span>
                                <span class="text-uppercase">Back to Profile</span>
                            </a>
                        {% else %}
                            <a href="{% url 'home' %}" class="btn btn-grey rounded-0 btn-lg my-1 col-12 col-md-5">
                                <span class="icon">
                                    <i class="fas fa-angle-left"></i>
                                </span>
                                <span class="text-uppercase">Back to Homepage</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
