{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block other_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mb-2">
    <!-- Title of the page-->
    <div class="row">
        <div class="col text-center mt-lg-5 mt-md-2">
            <h2 class="title title-space mt-lg-4 mt-md-2">Checkout</h2>
            <hr class="w-50 mb-3 mb-md-5 mx-auto">
        </div>
        <div class="row mx-auto">

        </div>

        <div class="row checkout-container">
            <div class="col-12 col-lg-6 order-lg-first mb-5 order-checkout-summary">
                <!-- The order summary which displays all the information of the products in the bag -->
                <div class="bg-light border border-2 rounded-3 p-3">
                    <p class="text-muted">Order Summary ({{ item_count }})</p>
                    <div class="row">
                        <div class="col-7 offset-2">
                            <p class="mb-1 mt-0 small text-muted">Item</p>
                        </div>
                        <div class="col-3 text-right">
                            <p class="mb-1 mt-0 small text-muted">Subtotal</p>
                        </div>
                    </div>
                    <!-- Image placeholder for the order -->
                    {% for item in basket_products %}
                    <div class="row mb-2">
                        <div class="col-2 mb-1">
                            <a href="{% url 'product_detail' item.product.id %}">
                                {% if item.product.image %}
                                <img class="w-100" src="{{ item.product.image.url }}" alt="{{ product.name }}">
                                {% else %}
                                <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                {% endif %}
                            </a>
                        </div>
                        <!-- Product details of the image -->
                        <div class="col-7">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0 small">Size: {{ item.product.size }}</p>
                            <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                        </div>
                        <div class="col-3 text-right">
                            <p class="my-0 small text-muted">£ {{ item.product.price }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <hr class="my-0">
                    <div class="row text-black text-right">
                        <div class="col-7 offset-2">
                            <p class="my-0">Order Total:</p>
                            <p class="my-0">Delivery:</p>
                            <p class="my-0">Grand Total:</p>
                        </div>
                        <div class="col-3">
                            <p class="my-0">£{{ total | floatformat:2 }}</p>
                            <p class="my-0">£{{ delivery | floatformat:2 }}</p>
                            <p class="my-0"><strong>£{{ grand_price | floatformat:2 }}</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <p class="text-muted">To complete your order, please fill out the form below</p>
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <!-- Placeholder for user details -->
                    <fieldset class="rounded px-3 mb-3">
                        <legend class="fieldset-label small text-black px-2 w-auto">Personal Details</legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                    </fieldset>
                    <!-- Placeholder for delivery information -->
                    <fieldset class="rounded px-3 mb-3">
                        <legend class="fieldset-label small text-black px-2 w-auto">Delivery Details</legend>
                        {{ order_form.phone_number | as_crispy_field }}
                        {{ order_form.address_line1 | as_crispy_field }}
                        {{ order_form.address_line2 | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.county_state | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                        <!-- Providing the option for the user to save the delivery information if not already saved to their profile -->
                        <div class="form-check form-check-inline float-right mr-0">
                            <!-- Option for authenticated user to save the delivery details -->
                            {% if user.is_authenticated %}
                            <label class="form-check-label " for="id-save-info">Save delivery details to my
                                profile</label>
                            <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info"
                                checked>
                            {% else %}
                            <!-- Option for the user to register or log if they want the information saved -->
                            <label class="form-check-label" for="id-save-info">
                                <a class="text-info" href="{% url 'account_signup' %}">Register an account</a> or
                                <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                            </label>
                            {% endif %}
                        </div>
                    </fieldset>

                    <fieldset class="px-3">
                        <!-- Payment details placeholder, using Stripe as the way to make payments -->
                        <legend class="fieldset-label small text-black px-2 w-auto">Payment Details</legend>
                        <!-- Placeholder for Stripe card elements  -->
                        <div class="mb-3" id="card-element"></div>

                        <!-- Placeholder for when there is an error -->
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                            <!-- Pass the client secret to the view so we can get the payment intent id -->
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>

                        <!-- Submit buttons for the form where the user can edit their basket or but now -->
                        <div class="submit-button text-right px-3 mt-3 mb-2 justify-checkout-buttons">
                            <a href="{% url 'view_basket' %}" class="btn btn-outline-black rounded-0 col-12 col-md-5 mb-2">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="font-weight-bold">Adjust Basket</span>
                            </a>
                            <button id="submit-button" class="btn btn-black rounded-0 col-12 col-md-5 mb-2">
                                <span class="font-weight-bold">Complete Order</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </button>
                            <p class="small text-danger my-0">
                                <span class="icon">
                                    <i class="fas fa-exclamation-circle"></i>
                                </span>
                                <span>Your card will be charged <strong>£ {{ grand_price|floatformat:2 }}</strong></span>
                            </p>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="overlay-processing">
    <h1 class="text-light custom-font loading-spinner">
        <span class="icon">
            <i class="fas fa-3x fa-splotch fa-spin"></i>
        </span>
    </h1>
</div>
{% endblock %}

{% block afterloadjs %}
    {{ block.super }}
    <!-- template filters called json_script as it is not possible to render Django template variables in external js files -->
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}