{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mb-2">
    <!-- Title -->
    <div class="row">
        <div class="col text-center mt-lg-5 mt-md-2">
            <h2 class="logo-font">Shopping Bag</h2>
            <hr class="w-50 mb-1 mx-auto">
        </div>


        <div class="row">
            <div class="col">
                <!-- if something is in the bag, the table of contents will display-->
                {% if basket_contents %}
                <div class="table-responsive rounded">
                    {{ basket_products }}
                </div>
                {% else %}
                <!-- Message if the bag is empty and a link to go back to all products-->
                <p class="lead mt-5">No items have been added to the bag.</p>
                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg my-5">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Carry on Shopping</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}