{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mb-2">
    <!-- Title of the page-->
    <div class="row">
        <div class="col text-center mt-lg-5 mt-md-2">
            <h2 class="logo-font">Shopping Bag</h2>
            <hr class="w-50 mb-3 mb-md-5 mx-auto">
        </div>
        <div class="row mx-auto">
            <!-- if something is in the basket, the table of contents will display it here -->
            {% if basket_products %}
            <!-- only will be displayed for small screen devices -->
            <div class="d-block d-md-none">
                <div class="row text-center">
                    <div class="col">
                        {% include "basket/basket-total.html" %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% include "basket/checkout-buttons.html" %}
                        <p class="text-center text-muted mb-5">Basket summary below</p>
                    </div>
                </div>
                <!-- will create a new row for each product that is added to the basket -->
                {% for item in basket_products %}
                <div class="row text-center">
                    <div class="col-12 col-sm-6 mb-2">
                        <!-- including the product image -->
                        {% include "basket/product-image.html" %}
                    </div>
                    <div class="col-12 col-sm-6 mb-2">
                        <!-- including the details of the product -->
                        {% include "basket/product-info.html" %}
                    </div>
                    <div class="col-12 col-sm-6 mb-2">
                        <!-- including the size of the product (shoe) -->
                        {% include "basket/product-size.html" %}
                    </div>
                    <!-- price and remove button placeholder -->
                    <div class="col-12 col-sm-6 order-sm-last">
                        <p class="my-0">£ {{ item.product.price }}</p>
                        <a class="remove-item text-danger float-right"
                            id="remove_{{ item.item_id }}"><small>Remove</small></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <!-- line to separate each item -->
                        <hr>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-8 col-lg-8 ">
                <div class="table-responsive rounded d-none d-md-block">
                    <table class="table table-sm table-borderless">
                        <thead class="text-black">
                            <tr>
                                <th scope="col">Product Info</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>
                        <!-- for each item in the basket, it will create a new row for it -->
                        {% for item in basket_products %}
                        <tr>
                            <td class="p-3 w-25">
                                {% include "basket/product-image.html" %}
                            </td>
                            <td class="py-3">
                                {% include "basket/product-info.html" %}
                            </td>
                            <td class="py-3 w-25">
                                {% include "basket/product-size.html" %}
                            </td>
                            <td class="py-3 checkout_price">
                                <p class="my-0">£ {{ item.product.price }}</p>
                                <a class="remove-item text-danger float-right"
                                    id="remove_{{ item.item_id }}"><small>Remove</small></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% else %}
                <!-- Message if the bag is empty and a link to go back to all products with a 
                    message and a button to go back shopping-->
                <p class="lead mt-5">No items have been added to the Basket.</p>
                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg my-5">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Carry on Shopping</span>
                </a>
                {% endif %}
            </div>
            <div
                class="offset-lg-6 col-6 offset-md-7 col-md-4 justify-content-end position-fixed text-end d-none d-md-block">
                {% include "basket/basket-total.html" %}
                <tr>
                    <!-- To take the user back to the all products page or to take them to the checkout page -->
                    <td colspan="12" class="text-end">
                        {% include "basket/checkout-buttons.html" %}
                    </td>
                </tr>
            </div>
        </div>
    </div>

    {% endblock %}
    {{ block.super }}
    {% block afterloadjs %}

    <script type="text/javascript">
        // Remove the token and item from the dictionary and reload on click
        $('.remove-item').click(function (e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var url = `/basket/remove/${itemId}/`;
            var data = {
                'csrfmiddlewaretoken': csrfToken
            };

            $.post(url, data)
                .done(function () {
                    location.reload();
                });
        })
    </script>

    {% endblock %}