<!-- Buttons for the basket page -->
<div class="row justify-content-end">
    <!-- To go back to the products page -->
    <a href="{% url 'products' %}"
        class="btn btn-outline-black rounded-0 btn-lg col-12 col-md-10 col-lg-12 col-md-12 mt-3 p-1">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase fs-6">Carry on Shopping</span>
    </a>
</div>
<div class="row justify-content-end">
    <br>
    <!-- To proceed to checkout -->
    <a href="{% url 'checkout' %}"
        class="btn btn-grey rounded-0 btn-lg col-12 col-md-10 col-lg-12 col-md-12 mt-2 mt-md-2 p-1">
        <span class="text-uppercase fs-6">Secure Checkout</span>
        <span class="icon">
            <i class="fas fa-lock"></i>
        </span>
    </a>
</div>