html {
    height: 100%;
}

body {
  font-family: 'Sarabun', sans-serif;
      height: calc(100vh - 400px);

}

.vr {
  border-right-style: inset;
  border-left-style: outset;
}

.title {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
}

.topnav,
#topnav {
  background-color: #ffffff;
  border-bottom: 1px solid #E0E0E0;
  text-align: center;
}

.input-search {
  width: 100%;
}

.search-box {
  border-color: #000000;
  border-radius: 10px;
}

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* Footer */
footer {
  border-top: 1px solid #E0E0E0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    color: #000000;
}

.main-logo-link {
    width: fit-content;
    font-size: 30px;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}


.overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #ffffff;
  z-index: -1;

}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 100px;
    }
}