/* ------------------------------- Site Wise */
html {
  height: 100%;
}

body {
  font-family: 'Sarabun', sans-serif;
  height: calc(100vh - 400px);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.text-black {
  color: #000 !important;
}

.border-black {
  border: 1px solid black !important;
}

.custom-font {
  text-transform: uppercase;
  color: #000000;
}

.overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #ffffff;
  z-index: -1;
}

/* Navigation bar and icons */
.topnav,
#topnav {
  background-color: #ffffff;
  border-bottom: 1px solid #E0E0E0;
  text-align: center;
}

.main-logo-link {
  width: fit-content;
  font-size: 30px;
}

/* Footer */
footer {
  border-top: 1px solid #E0E0E0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Headers and titles */
.title,
.custom-font {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
}

/* ------------------------------- Home Page */
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* The caption and button within the carousel */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Height for the carousel */
.carousel-item {
  height: 32rem;
  background-color: #777;
}

/* Carousel image */
.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* ------------------------------- Product Page */
/* Horizontal lining the product  */
.vr {
  border-right-style: inset;
  border-left-style: outset;
}

.remove-item {
  cursor: pointer;
}

/* -------------------------------- About */

/* Google Maps api */
#map {
  height: 400px;
  width: 100%;
}

/* -------------------------------- AllAuth Styling */

.allauth-form-inner-content p {
  margin-top: 1.5rem; /* mt-4 */
  color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
  border-color: #000;
  border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
/* btn */
display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #000;
  border: 1px solid #000;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;

  /* standard bootstrap btn transitions */
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* from Bulma */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

/* -------------------------------- Checkout Pages */

.shop-now-button {
  background: black;
  color: white;
  min-width: 260px;
}

.btn-black {
  background: black;
  color: white;
}

/* override link colors for <a> elements */
.btn-outline-black {
  background: white;
  color: black !important;
  border: 1px solid black;
}

/* button formatting */
.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
  background: #222;
  color: white;
}

a.category-badge>span.badge:hover {
  background: #212529 !important;
  color: #fff !important;
}

/* Image Widget for the add and edit template */
.btn-file {
  position: relative;
  overflow: hidden;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
  border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 0;
}

/* ------------------------------- Bootstrap toasts */
.message-container {
  position: fixed;
  top: 160px;
  right: 5px;
  overflow: auto;
  max-height: 665px;
  overflow-x: hidden;
  opacity: 1;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

.bag-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}

.checkout_price {
  width: 80px;
}

.toast-success {
  border: 5px ridge #28a745;
}

.toast-warning {
  border: 5px ridge #ffc107;
}

.toast-info {
  border: 5px ridge #17a2b8;
}

.toast-error {
  border: 5px ridge #dc3545;
}

/* -------------------------------- Media Queries (min-width: 1200px) */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .fixed-top-desktop-only {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .header-container {
    padding-top: 100px;
  }

  .container {
    max-width: 80%;
  }
}

/* -------------------------------- Media Queries (min-width: 992px) and (max-width: 1025px ) */
/* fixed top navbar only on medium and up */
@media (min-width: 992px) and (max-width: 1025px ){
  .fixed-top-desktop-only {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .header-container {
    padding-top: 100px;
  }

  .basket-summary {
    margin-left: 65%;
    height: 100px;
  }

  .price-small {
    font-size: small;
  }

  /* Height for the carousel */
  .carousel-item {
    height: 25rem;
  }

  /* Carousel image */
  .carousel-item>img {
    height: 25rem;
  }
}

/* -------------------------------- Media Queries (max-width: 991px) */
/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
  .header-container {
    padding-top: 116px;
  }

  body {
    height: calc(100vh - 116px);
  }

  .price-small {
    font-size: small;
  }
}

/* -------------------------------- Media Queries (max-width: 768px) */
@media (max-width: 768px) {
  /* Toasts */
  .message-container {
    top: 137px;
  }

  .justify-checkout-buttons {
    text-align: right;
  }
  .nav-link {
    padding: 0;
  }

  /* The caption and button within the carousel */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

  /* Height for the carousel */
  .carousel-item {
    height: 25rem;
  }

  /* Carousel image */
  .carousel-item>img {
    height: 25rem;
  }
}

/* -------------------------------- Media Queries (max-width: 425px) */
@media (max-width: 425px) {
  /* Navigation bar */
  .nav-link {
    padding: 0;
  }

  product-detail-name {
    margin-top: 400px;
  }

  /* Toasts */
  .message-container {
    top: 136px;
  }

  .justify-checkout-buttons {
    text-align: center;
  }

  .price-small {
    font-size: large;
  }

  /* The caption and button within the carousel */
  .carousel-caption {
    bottom: .5rem;
    z-index: 10;
  }

  /* Height for the carousel */
  .carousel-item {
    height: 15rem;
  }

  /* Carousel image */
  .carousel-item>img {
    width: 100%;
    height: 15rem;
  }

  /* Carousel button size */
  .btn-carousel{
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem;
  }
}

/* -------------------------------- Media Queries (max-width: 375px) */
@media (max-width: 375px) {
  /* Navigation bar */
  .nav-link {
    padding: 0px;
  }

  .mobile-sm-nav{
    font-size: small;
  }

  /* Toasts */
  .message-container {
    top: 113px;
  }
}

/* -------------------------------- Media Queries (max-width: 320px) */
@media (max-width: 320px) {
  /* Navigation bar */
  .nav-link {
    padding: 0px;
  }

  .mobile-sm-nav{
    font-size: small;
  }

  /* Toasts */
  .toast {
    margin-left: auto;
    width: 75%;
  }

  /* Checkout */
  .checkout-container{
    --bs-gutter-x: 5px;
  }

  .order-checkout-summary {
    font-size: small;
  }
}

