<!-- Second navigation bar which is the filtered products.-->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <!-- Drop down menu for all products-->
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=size&direction=asc" class="dropdown-item">By Size</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <!-- Drop down menu for sneakers -->
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="sneakers-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sneakers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sneakers-link">
                <a href="{% url 'products' %}?category=sneakers" class="dropdown-item">Sneakers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <!-- Drop down menu for slip ons -->
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="slip-on-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Slip-ons
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="slip-on-link">
                <a href="{% url 'products' %}?category=slip_ons" class="dropdown-item">Slip Ons</a>
                <a href="" class="dropdown-item">All Homeware</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <!-- Drop down menu for high tops-->
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="high-tops-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                High Tops
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="high-tops-link">
                <a href="{% url 'products' %}?category=high_tops" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">All Specials</a>
                <a href="" class="dropdown-item">Clearance</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <!-- Drop down menu for other-->
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="other-link" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Other
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="other-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>