{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}
    <div class="row">
        <div class="col-12 text-center mt-lg-2 mt-md-2">
            <h2 class="title mt-lg-4 mt-md-2 mt-3">{% trans "Password Reset" %}</h2>
        <hr class="w-50 mb-3 mb-md-5 mx-auto">
        </div>
    </div>
    <div class="col-12 offset-md-2 col-md-8 text-center">
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    </div>
{% endblock %}
