{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <div class="row">
        <div class="col-12 text-center mt-lg-2 mt-md-2">
            <h2 class="title mt-lg-4 mt-md-2 mt-3">{% trans "Change Password" %}</h2>
        <hr class="w-50 mb-3 mb-md-5 mx-auto">
        </div>
    </div>
    <div class="col-12 offset-md-2 col-md-8 text-center">

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <a class="btn btn-outline-black rounded-0" href="{% url 'account_login' %}">Back to Login</a>
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
    </div>
{% endblock %}
