{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <div class="row">
        <div class="col text-center mt-lg-5 mt-md-2">
            <h2 class="custom-font mt-lg-4 mt-md-2">{% trans "Change Password" %}</h2>
        <hr class="w-50 mb-3 mb-md-5 mx-auto">
        </div>
    </div>
    <div class="col-12 offset-md-2 col-md-8 text-center">
        <p>{% trans 'Your password is now changed.' %}</p>
    </div>
{% endblock %}
