{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block inner_content %}
<div class="row">
    <div class="col-12 text-center mt-lg-2 mt-md-2">
        <h2 class="title mt-lg-4 mt-md-2 mt-3">{% trans "Verify Your E-mail Address" %}</h2>
        <hr class="w-50 mb-3 mb-md-5 mx-auto">
    </div>
</div>
    <div class="col-12 offset-md-2 col-md-8 text-center">

    <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

{% endblock %}
