{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-compatible" content="ie-edge" <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    <!-- additional meta data placeholder -->
    {% block other_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- https://fonts.google.com/specimen/Barlow+Condensed -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sarabun&display=swap">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" {% endblock %} <!-- additional css placeholder -->

    {% block other_css %}
    {% endblock %}

    {% block corejs %}
    <!-- Fontawesome JS -->
    <script src="https://kit.fontawesome.com/9b32562ec0.js" crossorigin="anonymous"></script>
    <!-- Jquery JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Bootstrap JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>

    {% endblock %}

    <!-- additional js placeholder -->
    {% block other_js %}
    {% endblock %}

    <title>Clout Mafia {% block other_title %}{% endblock %}</title>

</head>

<body>

    <header class="container-fluid fixed-top">
        <div id="topnav" class="row pt-lg-2 d-none d-lg-flex">
            <!-- linking 'home' url which was defined in urls.py-->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-lg-left">
                <a href="{% url 'home' %}" class="title nav-link main-logo-link logo-font">Clout Mafia</a>
            </div>
            <!-- Search functionality and the results would appear in the products page-->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-search input-group w-100">
                        <!-- input append group which makes the search icon (https://fontawesome.com/v5.15/icons/search?style=solid) appear on the right-->
                        <div class="search-box input-group-append">
                            <button class="form-control btn btn-black border" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                        <!-- input field for the search bar -->
                        <input class="search-box form-control border" type="text" name="search_q"
                            placeholder="Search the site">
                    </div>
                </form>
            </div>
            <!-- Icons to display 'My Account' and the shopping basket -->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="nav justify-content-end list-inline list-unstyled my-0">
                    <!-- drop down to display 'My Account Information' -->
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <!-- Drop Down options for the navigation -->
                        <div class="dropdown-menu border-1" aria-labelledby="user-menu">
                            <!-- If the user has an account and is classified as a super user display the following -->
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="" class="dropdown-item">Product Management</a>
                            <a href="{% url 'add_product' %}" class="dropdown-item">Add a Product</a>
                            {% endif %}
                            <a href="" class="dropdown-item">My Profile</a>
                            <a href="" class="dropdown-item">Write a Review</a>
                            <a href="" class="dropdown-item">Contact Us</a>
                            <a href="" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="" class="dropdown-item">Register</a>
                            <a href="" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <!-- Placeholder for the shopping basket -->
                    <li class="list-inline-item">
                        <a class="{% if grand_price %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                            href="{% url 'view_basket' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_price %}
                                    £{{ grand_price|floatformat:2 }}
                                    {% else %}
                                    £0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Mobile include navbar -->
        <div class="row topnav">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
    </header>

    <!-- message container for the toasts -->
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- footer placeholder -->
    <footer class="text-muted mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-auto">
                    <a href="{% url 'refunds' %}">Return & Refunds</a>
                </div>
                <div class="col-12 col-md-auto">
                    <a href="{% url 'privacy' %}">Privacy</a>
                </div>
                <div class="col-12 col-md-auto">
                    <a href="{% url 'terms' %}">T & C's</a>
                </div>
                <div class="col-12 col-md-auto">About</div>
                <div class="col-auto mr-auto col-12 col-md-auto">Contact Us</div>
                <div class="col-12 col-end">
                    <span class="icon">
                        <i class="fab fa-instagram-square"></i>
                    </span>
                    <span class="icon">
                        <i class="fab fa-facebook-square"></i>
                    </span>
                </div>
            </div>
        </div>
    </footer>

    {% block afterloadjs %}
    <script type="text/javascript">
        // to display the toast
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
            return new bootstrap.Toast(toastEl, {
                autohide: false
            }).show()
        })
    </script>
    {% endblock %}

</body>

</html>