{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <!-- Title of the page -->
    <div class="row offset-md-2 col-md-8">
        <div class="col text-center mt-lg-5 mt-md-2">
            <h2 class="custom-font mb-4">Product Management</h2>
            <h2 class="custom-font">Add Product</h2>
            <hr class="w-50 mb-3 mb-md-5 mx-auto">
        </div>
    </div>

    <div class="row offset-md-2 col-md-8">
        <div class="col-12">
            <!-- To render the form that will be filled out to add a product
            The enctype="multipart/form-data" allows the user to submit the image -->
            <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Removing the label from cripy forms -->
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% elif field.name != 'imagetwo' %}
                        {{ field | as_crispy_field }}
                    {% elif field.name != 'imagethree' %}
                        {{ field | as_crispy_field }}
                    {% elif field.name != 'imagefour' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <!-- Buttons to go back to the products page and to add a product -->
                <div class="text-right">
                    <a class="btn btn-outline-black rounded-0 col-12 col-md-4 mb-3" href="{% url 'products' %}">Cancel</a>
                    <button class="btn btn-black rounded-0 col-12 col-md-4 mb-3" type="submit">Add Product</button>
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}
