{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row offset-md-2 col-md-8">
        <div class="col text-center mt-lg-5 mt-md-2">
            <h2 class="custom-font mt-lg-4 mt-md-2 mb-4">Product Management</h2>
            <h2 class="custom-font">Edit {{ product.name }}</h2>
            <hr class="w-50 mb-3 mb-md-5 mx-auto">
        </div>
        
        <div class="col-12 ">
            <!-- To render the form that will be filled out to add a product -->
            <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Removing the label from cripy forms -->
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <div class="text-right">
                    <!-- Buttons to either cancel the changes made or to update the product -->
                    <a class="btn btn-outline-black rounded-0 col-12 col-md-4 mb-3" href="{% url 'products' %}">Cancel</a>
                    <button class="btn btn-grey rounded-0 col-12 col-md-4 mb-3" type="submit">Update Product</button>
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}

<!-- JS to notify the user what the image is being changed to -->
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
    // listening the changing event on the new image input
        $('#new-image').change (function() {
            // Setting the file name paragraph in the widget to the file name
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}