<div class="toast custom-toast toast-warning rounded-0 show" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="arrow-up arrow-warning"></div>
    <div class="w-100 toast-capper bg-warning"></div>
    <!-- Header for the toast -->
    <div class="toast-header text-dark">
        <strong class="title mx-auto fs-3 ps-4">Warning!</strong>
        <!-- close button added to close the toast -->
        <button type="button" class="btn-close mx-0" data-bs-dismiss="toast" aria-label="Close">
        </button>
    </div>
    <!-- body for the toast -->
    <div class="toast-body bg-white text-center">
        <!-- message container which will live in the base template -->
        {{ message }}
    </div>
</div>