<div class="toast custom-toast toast-success rounded-0 show bg-white" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="arrow-up arrow-success"></div>
    <div class="w-100 toast-capper bg-success"></div>
    <!-- Header for the toast -->
    <div class="toast-header text-dark">
        <strong class="title mx-auto fs-3 ps-4">Success!</strong>
        <!-- close button added to close the toast -->
        <button type="button" class="btn-close mx-0" data-bs-dismiss="toast" aria-label="Close">
        </button>
    </div>
    <!-- body for the toast -->
    <div class="toast-body bg-white p-0">
        <!-- product preview of the item when added to the basket -->
        <div class="row">
            <div class="col-12 text-center fs-6">
                <!-- message container which will live in the base template -->
                {{ message }}
                <hr class="mx-5">
            </div>
        </div>
    </div>
    <!-- creating the basket product count, as well as adding formation of the product -->
    {% if grand_price and not on_profile_page %}
    <p class="custom-font bg-white text-black text-center h5">Your Basket Items ({{ item_count }})</p>
    <div class="bag-notification-wrapper">
        {% for item in basket_products %}
        <div class="row">
            <div class="col-3 py-1">
                {% if item.product.image %}
                <img class="w-100" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                {% else %}
                <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                {% endif %}
            </div>
            <!-- product details that will be displayed in the basket -->
            <div class="col-9">
                <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                <p class="my-0 small text-uppercase">SKU: {{ item.product.sku }}</p>
                <p class="mb-2 small">Size: {{ item.product.size }}</p>
            </div>
        </div>
        <hr class="mx-5">
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <!-- Total price excluding the Delivery -->
            <strong>
                <p class="custom-font toast-total py-2 mb-0 text-black h6">
                    Bag Total{% if free_delivery_message > 0 %} (Exc. delivery){% endif %}:
                    <span class="float-right">£{{ total|floatformat:2 }}</span>
                </p>
            </strong>
            <!-- message to show how much is left to spend before free delivery -->
            {% if free_delivery_message > 0 %}
            <p class="p-2 bg-warning shadow-sm text-black border-top text-center mb-0 ">
                Spend <strong>£{{ free_delivery_message }}</strong> more to get free next day delivery!
            </p>
            {% endif %}
            <!-- To direct the user to the checkout page -->
            <a href="{% url 'view_basket' %}" class="btn btn-grey btn-block rounded-0 col-12">
                <span class="text-uppercase">View Shopping Basket</span>
                <span class="icon">
                    <i class="fas fa-shopping-basket"></i>
                </span>
            </a>
        </div>
    </div>
    {% endif %}
</div>