<div class="toast custom-toast toast-success rounded-0 border-top-0 show" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="arrow-up arrow-success"></div>
    <div class="w-100 toast-capper bg-success"></div>
    <!-- Header for the toast -->
    <div class="toast-header bg-white text-dark text-center">
        <strong class="mr-auto">Success!</strong>
        <!-- close button added to close the toast -->
        <button type="button" class="btn-close ms-auto me-2" data-bs-dismiss="toast" aria-label="Close">
        </button>
    </div>
    <!-- body for the toast -->
    <div class="toast-body bg-white">
        <!-- product preview of the item when added to the basket -->
        <div class="row">
            <div class="col text-center">
                <!-- message container which will live in the base template -->
                {{ message }}
                <hr class="mt-1 mb-3">
            </div>
        </div>
        <!-- creating the basket product count, as well as adding formation of the product -->
        {% if grand_price and not on_profile_page %}
        <p class="custom-font bg-white text-black py-1">Your Basket ({{ item_count }})</p>
        <div class="bag-notification-wrapper">
            {% for item in basket_products %}
            <div class="row">
                <div class="col-3 my-1">
                    {% if item.product.image %}
                    <img class="w-100" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                    {% else %}
                    <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                    {% endif %}
                </div>
                <!-- product details that will be displayed in the basket -->
                <div class="col-9">
                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                    <p class="my-0 small text-uppercase">SKU: {{ item.product.sku }}</p>
                    <p class="mb-2 small">Size: {{ item.product.size }}</p>
                </div>
                <hr>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col text-center">
                <!-- Total price excluding the Delivery -->
                <strong>
                    <p class="mt-3 mb-1 text-black">
                        Total{% if free_delivery_message > 0 %} (Exc. delivery){% endif %}:
                        <span class="float-right">£{{ total|floatformat:2 }}</span>
                    </p>
                </strong>
                <!-- message to show how much is left to spend before free delivery -->
                {% if free_delivery_message > 0 %}
                <p class="mb-0 p-2 bg-warning shadow-sm text-black text-center">
                    Spend <strong>£{{ free_delivery_message }}</strong> more to get free next day delivery!
                </p>
                {% endif %}
                <!-- To direct the user to the checkout page -->
                <a href="{% url 'view_basket' %}" class="btn btn-black btn-block rounded-0 col-12">
                    <span class="text-uppercase">Go To Secure Checkout</span>
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>